<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--
    Configure these in "App.local.config" so they are not checked into git
    
    <add key="b2c:ClientId" value="Get from AD B2C" />
    <add key="b2c:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="b2c:RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    <add key="b2c:Tenant" value="<Get from AD B2C>.onmicrosoft.com" />
    <add key="b2c:SignInPolicy" value="b2c_1_sign_in_short"/>
    <add key="b2c:SignUpPolicy" value="b2c_1_sign_up"/>
    <add key="b2c:SignUpOrSignInPolicy" value="b2c_1_sign_up_or_sign_in_short"/>
    <add key="b2c:ProfilePolicy" value="b2c_1_profile_editing"/>
    <add key="todo:TodoListResourceId" value="https://<Get from AD B2C>.onmicrosoft.com/MusicStoreB2C" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44375/" />
    -->
  </appSettings>
</configuration>